<div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-6">
            <img class="img-responsive profile-pic img-circle" src="images/dg-prof-image.png">
          </div>
          <div class="col-sm-6 pull-right">
            <h1>Hey, What's up?</h1>
            <p class="lead">My name is Daniel. I like building software, solving hard problems and all things awesome <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>.</p>
            <div class="btn-group" role="group" aria-label="...">
              <a class="btn btn-default" href="http://www.linkedin.com/in/danielgaeta" role="button">LinkedIn</a>
              <a class="btn btn-default" href="http://www.twitter.com/dan_gaeta" role="button">Twitter</a>
              <a class="btn btn-default" href="http://www.github.com/dhawking" role="button">Github</a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm-6">
          <h3>More About Me</h3>
          <p>You can find me at UIUC studying Computer Science and anchored down somewhere at Grainger Library (<em>probably next to a dry erase board</em>).</p>
          <br>
          <p>I get really excited about a slick user expirience, building web applications and using data to come up with new solutions.</p>

          <br>
          <p>My biggest pet peeve is being afraid to try something new  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></p>
        </div>
        
        <div class="col-sm-6">
          <h3>Let's chat!</h3>
          <p>I have no friends, seriously (<strong>but just kidding</strong>), so contact me somehow and let me know how you're doing or what you're working on!</p>
          <br>
          <em><p>P.S. I'm always looking for cool projects to become apart of or even just hear about them to see if I can help somehow.</p></em>
          
         	<form>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Your Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					  </div>
					  <label for="messageArea">Your Message</label>
					  <textarea class="form-control" rows="3"></textarea>
					  <br>
					  <button type="submit" class="btn btn-success">Send Email to Me</button>
        </div>
      </div>

      <hr>
      <div>
        <p>&copy; 2015 Daniel Gaeta </p>
      </div>
    </div>